/* .bck {
  background: url('https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
.hero-section {
  padding-top: 5rem;
  padding-left: 10rem;
}
.bck .title {
  color: #ff2746;
  font-size: 4rem;
}
.bck .subtitle {
  color: #82d6dc;
  font-size: 2rem;
}
